In [1]:
import pandas as pd


**Задание 1**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
	- оценка 2 и меньше - низкий рейтинг
	- оценка 4 и меньше - средний рейтинг
	- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [5]:
data = pd.read_csv('ratings.csv')
rating = data.groupby('movieId').mean()

In [8]:
def rating_film(row):
    if (row['rating'] >= 4):
        return('высокий рейтинг')
    if (row['rating'] <= 4 and row['rating'] > 2):
        return('средний рейтинг')
    if (row['rating'] <= 2):
        return('низкий рейтинг')

rating['class'] = rating.apply(rating_film, axis=1)

rating.head()

             userId    rating     timestamp            class
movieId
1        306.530233  3.920930  1.129835e+09  средний рейтинг
2        329.554545  3.431818  1.135805e+09  средний рейтинг
3        283.596154  3.259615  1.005110e+09  средний рейтинг
4        219.857143  2.357143  8.985789e+08  средний рейтинг
5        299.571429  3.071429  9.926643e+08  средний рейтинг

**Задание 2**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [9]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [93]:
for key, value in geo_data.items():
    z[value[0]] = key
    z[value[1]] = key
    z[value[2]] = key

In [94]:
data = pd.read_csv('keywords.csv')

def region(row):
    if row['keyword'] in z:
        x = row['keyword']
        return(z[x])
    return('undefined')

In [95]:
data['region'] = data.apply(region, axis=1)
d = data[(data['keyword']=='хабаровск') ]
d.head()

        keyword  shows          region
9084  хабаровск  29655  Дальний Восток