In [2]:
import pandas as pd

Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [4]:
ratings = pd.read_csv(r"C:\Users\edwm9\Desktop\Python_13_join\ml-latest-small\ratings.csv")
ratings['date'] = pd.to_datetime(ratings['timestamp'], unit='s')
ratings['count'] = 1
ratings = ratings.groupby('userId').agg({'date': ['min', 'max'], 'count': 'sum'})
ratings['delay'] = ratings['date']['max'] - ratings['date']['min']
ratings = ratings[ratings['count']['sum'] > 100]
ratings.delay.mean()

Timedelta('463 days 21:28:27.449612')

Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [6]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [24]:
joined_client_revenue = client_base.merge(air, on='client_id', how='left')
joined_client_revenue = joined_client_revenue.merge(rzd, on='client_id', how='left')
joined_client_revenue =joined_client_revenue.merge(auto, on='client_id', how='left')
joined_client_id_revenue = joined_client_revenue.filter(items = ['client_id', 'rzd_revenue','auto_revenue','air_revenue'])
joined_client_address_revenue = joined_client_revenue.filter(items = ['client_id','address','rzd_revenue','auto_revenue','air_revenue'])

In [25]:
joined_client_address_revenue

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           NaN          NaN
1        112   Энтузиастов 8а       2810.0           NaN          NaN
2        113  Левобережная 1а      10283.0       57483.0          NaN
3        114          Мира 14       5774.0          83.0          NaN
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          NaN        4834.0          4.0
6        117  Панфиловская 33          NaN          98.0         13.0
7        118     Мастеркова 4          NaN           NaN        173.0

Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок? Для составления ответа можно использовать вопросы:
У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?
Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?
Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

Не очень понятны условия. К каждой покупки или визиту должны уже соответствовать соответствовать координаты. 
Связать координаты покупок с данными по местоположению пользователей можно например по расстоянию между точку ( например. если расстояние меньше 20 метров, то покупка была совершена в оффлайн -магазине). Отличие больше 20 метров означает не соответствие данных, соответствие факт покупки или визита в точке не фиксируется. Помимо фиксации "визитов" и покупок в торговой точуки из координат можно получить локации( страны, города, улицы ) активности пользователя и использовать эти данные для клиентского анализа.