**Задание 1**Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [27]:
films = pd.read_csv('ratings.csv')
rating_films = films[films.rating > 4 ]
rating_films['movieId'].value_counts().head()

318     202
296     167
356     155
2571    150
2959    130
Name: movieId, dtype: int64

**Задание 2**По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [86]:
data = pd.read_csv('power.csv')
filtered_countries = (data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia'))
                           & ((data['category']==4) | (data['category']==12) | (data['category']==21))
                           & ((data['year']==2005) | (data['year']==2006) | (data['year']==2007)
                            | (data['year']==2008) | (data['year']==2009) | (data['year']==2010))
                          & (data['quantity'] > 0)]
                     )
filtered_countries.quantity.sum()

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [99]:
pg1 = pd.read_html('https://fortrader.org/quotes')[0]
pg2 = pd.read_html('https://fortrader.org/quotes')[1]
pg3 = pd.read_html('https://fortrader.org/quotes')[2]
pg4 = pd.read_html('https://fortrader.org/quotes')[3]
pg5 = pd.read_html('https://fortrader.org/quotes')[4]

In [100]:
pg5.head()

,Type,Last,Chg.,Chg.%,Time
0,EURUSD Курс евро к доллару,1.10155,-0.00022,-0.01997,NaN
1,AUDUSD Курс австралийского доллара к доллару сша,0.67527,-0.00067,-0.09912,NaN
2,AUDCAD Australian Dollar / Canadian Dollar,0.88901,-0.00284,-0.31844,NaN
3,EURCHF Euro / Swiss Franc,1.07201,0.00421,0.39427,NaN
4,EURGBP Euro / Great Britain Pound,0.84683,0.00313,0.37098,NaN